<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht70605.dao.ProductuserecordMapper">
  <resultMap id="BaseResultMap" type="com.ht70605.entity.Productuserecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="capUseRecord_id" jdbcType="VARCHAR" property="capuserecordId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="OutIn" jdbcType="VARCHAR" property="outin" />
  </resultMap>
  <sql id="Base_Column_List">
    id, capUseRecord_id, product_id, OutIn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from productuserecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from productuserecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht70605.entity.Productuserecord">
    insert into productuserecord (id, capUseRecord_id, product_id, 
      OutIn)
    values (#{id,jdbcType=VARCHAR}, #{capuserecordId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{outin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht70605.entity.Productuserecord">
    insert into productuserecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="capuserecordId != null">
        capUseRecord_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="outin != null">
        OutIn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="capuserecordId != null">
        #{capuserecordId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="outin != null">
        #{outin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht70605.entity.Productuserecord">
    update productuserecord
    <set>
      <if test="capuserecordId != null">
        capUseRecord_id = #{capuserecordId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="outin != null">
        OutIn = #{outin,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht70605.entity.Productuserecord">
    update productuserecord
    set capUseRecord_id = #{capuserecordId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      OutIn = #{outin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectProductUseRecord">
    select
    ProductUseRecord.capUseRecord_id,
    ProductUseRecord.OutIn,
    table1.*
    from
    ProductUseRecord
    left join
    (select p3.*,
    dictionary.value as 'dictionaryValue',
    location.locInfo,
    sysuser.name as 'sysuserName',
    application.name as 'applicationName',
    left(p3.pro_code,7) as 'pro_b',
    right(p3.pro_code,4) as 'pro_e'
    from
    (select * from
    (select id,rfid_code,dictionary_id,location_id,create_time,info,model,pro_code,ser_num,sysUser_id,'0' as sort,
    product_id,application_id
    from product where product_id is null)as p0
    union all
    (select p1.id,p1.rfid_code,p1.dictionary_id,p1.location_id,
    p1.create_time,p1.info,p2.model,p2.pro_code,p2.ser_num,p2.sysUser_id,'2'as sort,p1.product_id,
    p2.application_id
    from
    (select * from product where product_id is not null)as p1
    inner join product as p2 on p1.product_id=p2.id))as p3
    LEFT JOIN dictionary on p3.dictionary_id=dictionary.id
    LEFT JOIN location on p3.location_id=location.id
    LEFT JOIN sysuser on p3.sysUser_id=sysuser.id
    LEFT JOIN application on p3.application_id=application.id
    )as table1
    on ProductUseRecord.product_id=table1.id
  </select>
</mapper>